.about{
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px 0;
    border-bottom: 1px solid $color_terciario;
    .about-title{
        font-weight: 600;
        color: $color_terciario;
        margin: 30px 0;
        text-align: center; 
    }
}

