/*Media Queries*/

@media (min-width:768px){
    .about{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
    }
    .about-title, .contact-title{
        grid-column: 1 / 3;
        text-align: center;
    }
    .contact{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .banner{
        height: 50%;
    }
    .shop{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 40px;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .footer-sasha{
        padding: 40px 0;
    }
}

@media (min-width:1200px){
    .about{
        align-items: center;  
    }
    .banner{
        height: 400px;
    }
    .banner-img{
        height: 100%;
        width: 100%;
    }
    .shop{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        gap: 40px;
    }

}
