*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;  
    color:$color_primario;
}

body{
    font-family: $font-principal;
}

.bg-sasha{
    background-color: $color_secundario;
    color: $color_primario;
}