@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@300;600&display=swap');

$color_primario: #ffffff;
$color_secundario:#2c2c2c;
$color_terciario: #F64999;
$font-principal: 'Maitree', serif;
$bg-header: url(../multimedia/img/header.jpg);